@model GWAppDev1.ViewModels.CoursesTrainersViewModel
@{
    ViewBag.Title = "AssignTrainer";
}

<h2>Assign Trainer</h2>
@using (Html.BeginForm("AssignTrainer", "Staffs", FormMethod.Post))

{
<div class="form-group">
    <label>Course</label>
    @Html.DropDownListFor(m => m.Courses, new SelectList(Model.Courses, "Id","CourseName"),
     "Select Course Name",
     new { @class = "form-control" })
</div>
    <div class="form-group">
        <label>Trainer</label>
        @Html.DropDownListFor(
       m => m.UserId,
       new SelectList(Model.Users, "Id", "Email"),
       new { @class = "form-control" }
       )
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
}
