@model IEnumerable<GWAppDev1.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowTrainers";
}

<h2>Show Trainers in Course</h2>
    <div class="form-group">
        @Html.ActionLink("Back to Show Courses", "ShowCourse", null, new { @class = "btn btn-primary" })
    </div>
<table class="table table-striped">
    <thread>
        <tr>
            <th class="text-danger">Email</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var trainer in Model)
        {
            <tr>
                <td>
                    @trainer.Email @Html.ActionLink("Remove",
                                  "RemoveTrainers",
                   new { id = ViewBag.courseId, trainerId = trainer.Id },new { @class = "btn btn-danger" })
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

