@model IEnumerable<GWAppDev1.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowTrainees";
}

<h2>Show Trainees in Course</h2>
<div class="form-group">
    @Html.ActionLink("Back to Show Courses", "ShowCourse", null, new { @class = "btn btn-primary" })
</div>
<table class="table table-striped">
    <thread>
        <tr>
            <th class="text-danger">Email</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var trainee in Model)
        {
            <tr>
                <td>
                    @trainee.Email @Html.ActionLink("Remove",
                   "RemoveTrainees",
            new { id = ViewBag.courseId, traineeId = trainee.Id }, new { @class = "btn btn-danger" })
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>


